.full-menu{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #fff;
    overflow: hidden;
    z-index: 9;
    transform: translateX(-100%);
    display: none;
}
/* .active-menu{
    display: block;
    
} */
@keyframes showMenuContainer {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}
@keyframes hideMenuContainer {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}

.container-selector{
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    height: 100%;
    padding-top: 180px;
    box-sizing: border-box;
    z-index: 2;
}
.black-bar{
    background-color: #000;
    width: 30px;
    margin-left: 50px;
}
.navbar{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-left: 30px;
}
.navbar a{
    font-weight: bold;
    font-size: 4.5rem;
    text-decoration: none;
    width: fit-content;
    position: relative;
    padding-left: .3em;
    padding-right: .25em;
    margin: 0;
    color: #000;
}

/*  decoration lines */
.frames::before,
.frames::after {
    position: absolute;
    content: "";
    width: 10%; 
    height: 25%;
    z-index: 2;
}
.frames::before {
    bottom: 0; 
    left: 0;
    border-left: .05em solid #fff;
    border-bottom: .05em solid #fff;
}
.frames::after {
    top: 0; 
    right: 0;
    border-right: .05em solid #fff;
    border-top: .05em solid #fff;
}
.frames-black::before {
    border-left: .05em solid #000;
    border-bottom: .05em solid #000;
}
.frames-black::after {
    border-right: .05em solid #000;
    border-top: .05em solid #000;
}


/* Planets */
.menu-planet{
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 0px;
    width: 500px;
}
.menu-planet img{
    display: none;
}
.menu-planet .active-planet{
    display: block;
}


/* contacto */
.contact-container{
    margin-top: auto;
    margin-left: auto;
    margin-right: 5em;
    padding-bottom: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-container a{
    display: block;
}
.fa-brands{
    font-size: 2rem;
    color: black;
    margin: 0 .8em;
    position: relative;
}
.fa-brands:hover .square1{
    opacity: 1;
    margin-top: -.15em;
}
.fa-brands:hover .square2{
    opacity: 1;
    margin-top: .15em;
}
.fa-brands .square1{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    border: .08em solid #000;
    width:  1.6em;
    height: 1.6em;
    transition: .3s;
}
.square-white{
    border: .08em solid #fff !important;
}
.fa-brands .square2{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    border: .08em solid #000;
    width:  1.6em;
    height: 1.6em;
    transition: .3s;
}




/* stars background */
.stars-container{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.container-tw {
	position: absolute;
    display: none;
}
.container-stars {
    display: none;
	z-index: 0;
    position: absolute;
}
/* background */
@keyframes move-twink-back {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -10000px 5000px;
	}
}

@-webkit-keyframes move-twink-back {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -10000px 5000px;
	}
}

@-moz-keyframes move-twink-back {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -10000px 5000px;
	}
}

@-ms-keyframes move-twink-back {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -10000px 5000px;
	}
}

.stars, .twinkling {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.stars {
	background: #000
		url(../../../public/assets/home/stars.webp)
		repeat
		top
		center;
}

.twinkling {
	background: transparent
    url(../../../public/assets/home/coverstars.png)
		repeat
		top
		center;
	-moz-animation: move-twink-back 200s linear infinite;
	-ms-animation: move-twink-back 200s linear infinite;
	-o-animation: move-twink-back 200s linear infinite;
	-webkit-animation: move-twink-back 200s linear infinite;
	animation: move-twink-back 500s linear infinite;
}

/* menu buttom */
.menu-buttom{
    display: block;
    position: absolute;
    top: 2.5em;
    left: 3em;
    z-index: 19;
    cursor: pointer;
}
.menu-buttom .bars{
    width: 2.5em;
    height: .2em;
    background: white;
    border-radius: 50px;
    margin-bottom: .3em;
    transform: rotate(30deg);
}
.black-bars{
    background: black !important;
}

.menu-buttom .bars:last-child{
    margin-bottom: 0;
}
.menu-buttom .bars1{
    width: 1.6em;
    margin-left: .25em;
    margin-bottom: .5em;
    transform: rotate(30deg) translateX(.55em);
}
.menu-buttom .bars2{
    margin-bottom: .2em;
}
.menu-buttom .bars3{
    width: 1.2em;
    margin-left: .3em;
    transform: rotate(30deg) translateX(.2em);
}

.menu-buttom:hover  .bars1{
    transform: rotate(30deg) translateX(.95em);
}
.menu-buttom:hover .bars2{
    transform: rotate(30deg) translateX(-.2em);
}
.menu-buttom:hover  .bars3{
    transform: rotate(30deg) translateX(-.5em);
}